<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/reset.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='styles/login-styles.css') }}" rel="stylesheet" type="text/css" >
    <title>Log in</title>
</head>
<body>
    <section class="form-login">
        <h5>Login</h5>
        <input class="input" type="text" name="username" value="" placeholder="Username">
        <input class="input" type="password" name="password" value="" placeholder="Password">
        <input class="button" type="submit" name="" value="Login">
    </section>
    <div class="a"></div>
</body>
</html>